<h1>Cupcake Inventory</h1>

<form ng-submit="addCake()">
    <label>Flavor:
        <input type="text" ng-model="cupcake.flavor" placeholder="Vanilla">
    </label>
    <label>Frosting Flavor:
        <input type="text" ng-model="cupcake.frosting" placeholder="Buttercream">
    </label> <label>Cupcake Theme:
    <input type="text" ng-model="cupcake.theme" placeholder="SpongeBob">
</label> <label>Text on Cupcake:
    <input type="text" ng-model="cupcake.text" placeholder="Happy Birthday Sean">
</label>
    <input type="submit" value="Submit">
</form>
