<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Employee Directory</title>
        <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js">
        </script>
        <script type='text/javascript' src="js/main.js"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body ng-app='employeeApp' ng-controller='eController'>

    <section>

        <h1>Employee Roster</h1>

        <form ng-submit='addEmp()'>
            <label>
                Add an Entry
            </label>
            <label> Name:
                <input type="text" placeholder="Kevin Hart" ng-model='employee.name'>
            </label>
            <label>Street:
                <input type="text" placeholder="Pineapples Ave" ng-model='employee.street'>
            </label>
            <label>City:
                <input type="text" placeholder="Philadelphia" ng-model='employee.city'>
            </label>
            <label>State:
                <input type="text" placeholder="Pennsylvania" ng-model='employee.state'>
            </label>
            <label>Zip Code:
                <input type="text" placeholder="19019" ng-model='employee.zip'>
            </label>
                <input type='submit' value='Add Employee'>
        </form>

        <ul>
            <li ng-repeat='item in backstageArr track by $index'>
                {{item.name}} {{item.street}} {{item.city}} {{item.state}} {{item.zip}}
                <button ng-click='GetTheHellOut($index)'>X</button>
            </li>
        </ul>

    </section>


    </body>
</html>