<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-app="GroceryApp" ng-controller="GroceryController">

    <section>

        <h1>Super Grocery List</h1>

        <h2>Items:<small>{{gArray.length}}</small></h2>

        <form ng-submit="formSubmit()">
                <label>
                    <input type="text" ng-model="food.inputName"/>

                </label>
                <button type="submit">Save</button>
            </form>

                <ul>
                    <li ng-repeat="n in gArray track by $index">{{ n.inputName }}
                        <button ng-click="deleteItem($index)">X</button>
                    </li>

                </ul>

    </section>
</body>
</html>